/* Kouassi Aka Vantoff & Jérôme Ouellet */

/* Divers */
html{
    background-image: url("../Images/fond.jpeg");
    background-repeat: repeat;
    background-size: 25%;
}

/* Entête avec menu */


/* Contenu principal */



/* Boite aparté avec les listes */


/* Pied de page */